* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.div1 {
    width: 100vw;
    height: 100vh;
}

.sectionesquerda {
    display: inline-block;
    width: 60%;
    margin-top: 160px;
    padding-left: 110px;
}

.sectiondireita {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    width: 300px;
    height: 450px;
    position: relative;
    right: 130px;
    top: 18%;
}

h1 {
    color: #5D5D7D;
    Font-size: 55px;
    line-height: 80px;
    width: 368px;
}

p {
    color: #5D5D7D;
    Font-size: 18px;
    Line-height: 48px;
    width: 540px;
    height: 100px;

}

.a1 {
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    margin-right: 41px;
    text-align: center;
    cursor: pointer;
}

.home {
    padding-left: 70px;
}

.a1:nth-child(2) {
    opacity: 0.8;
}


button {
    border-radius: 30px;
    width: 269px;
    height: 62px;
    background-color: rgb(148, 153, 234);
    border: none;
    font-size: 24px;
    color: white;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}

.a1:hover {
    opacity: 0.5;
}

.a1:active {
    opacity: .3;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: .5;
}

@media screen and (max-width:700px) {

    .sectionesquerda {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
        padding-left: 6px;
    }

    .sectiondireita {
        display: block;
        width: 100%;
        margin-top: 20%;
        height: auto;
        position: static;
        padding-left: 50px;
        padding-right: 50px;
    }

    img {
        position: static;
        max-width: 100%;
        margin-right: 30px;
    }

    header {
        display: none;
    }

    h1 {
        Font-size: 36px;
        line-height: 52px;
        margin: 55px 55px 0px 55px;
        width: 268px;
        height: 104px;
        text-align: center;
    }

    p {
        font-size: 18px;
        line-height: 24px;
        margin: 15px 40px;
        width: 296px;
        height: 96px;
    }

    .a {
        margin-left: 49px;
    }
}